@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Media Services</h1>
    <p class="lead">Deliver any media, on virtually any device, anywhere...with the power of the Azure cloud. Create end-to-end media workflows with flexible and highly scalable encoding, packaging, and distribution services using Microsoft Azure Media Services. Securely upload, store, encode and package video or audio content for both on-demand and live streaming delivery to a wide array of TV, PC and mobile device endpoints.</p>
    <p><a href="http://azure.microsoft.com/en-us/services/media-services/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Encode, store, and stream audio and video at scale</h2>
        <p>
            With Azure Media Services, you can build comprehensive end-to-end media workflows and reduce the costs associated with integrating multiple products and providers. Choose services from Microsoft and its partners that are already integrated and ready to use.
        </p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com/en-us/documentation/articles/media-services-dotnet-get-started/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Live Streaming and Video on Demand</h2>
        <p>Everything you need to operate your own cloud based video platform for live events and video on demand (VOD). Microsoft Azure Media Services includes all the tools and services you’ll need to handle media processing, delivery, and consumption.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com/blog/2014/09/10/getting-started-with-live-streaming-using-the-azure-management-portal/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wide reach with Player frameworks and SDKs</h2>
        <p>You can reach your customers on most popular platforms and devices with Player frameworks, sample players and SDKs from Microsoft.</p>
        <p><a class="btn btn-default" href="http://amsplayer.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
</div>