<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ce0bed9d-77df-4b63-8e29-71acb21d02d5" Publisher="CN=cenkd" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SampleDownloaderPlugin</DisplayName>
    <PublisherDisplayName>cenkd</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SampleDownloaderPlugin.App">
      <VisualElements DisplayName="SampleDownloaderPlugin" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SampleDownloaderPlugin" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="videosLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>

    <Extension Category="windows.activatableClass.proxyStub">

      <ProxyStub ClassId="B2596805-D20B-4750-A6AC-0251A1EFA1DE">

        <Path>Microsoft.Media.AdaptiveStreaming.dll</Path>

        <Interface InterfaceId="D733C279-BF63-4eb3-9D7F-6BA5402B621C" Name="ManifestReadyEventHandler" />

        <Interface InterfaceId="B0B48161-0DB5-439B-9FF0-200BED06CC48" Name="AdaptiveSourceStatusUpdatedEventHandler" />

        <Interface InterfaceId="2D30413E-09B4-4A43-8F8B-C592F1E41B5F" Name="AdaptiveSourceFailedEventHandler" />

        <Interface InterfaceId="3D0CDB1E-1E78-4c45-B9CC-04041804AD5A" Name="AdaptiveSourceClosedEventHandler" />

        <Interface InterfaceId="63B289C6-5181-4284-90DC-94D03FBE12F2" Name="AdaptiveSourceOpenedEventHandler" />

      </ProxyStub>

    </Extension>

  </Extensions>

</Package>